In [1]:
#import require libraries
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By

In [2]:
driver=webdriver.Chrome()

In [83]:
#generate page link from main website link
detail_list=[]
page_links=[]
main_link='https://www.cartrade.com/buy-used-cars/mumbai/c/p-'
for i in range(1,5):
  link=main_link+str(i)
  page_links.append(link)
  for item in page_links:
     driver.get(item)
     Brands=driver.find_element(by=By.XPATH, value='//h2[@class="h2heading truncate"]').text.split()[1]
     Mfg_yr=driver.find_element(by=By.XPATH, value='//h2[@class="h2heading truncate"]').text.split()[0]
     Model=driver.find_element(by=By.XPATH, value='//h2[@class="h2heading truncate"]').text.split()[2]
     Price=driver.find_element(by=By.XPATH, value='//div[@class="cr_prc"]').text.split()[0].strip('₹')
     km_driven=driver.find_element(by=By.XPATH, value='//div[@class="info_cr_new"]').text.split()[0]
     Fuel_type=driver.find_element(by=By.XPATH, value='//div[@class="info_cr_new"]').text.split()[3]
     dict={
     'Brand':Brands,
     'Model':Model,
     'km_driven':km_driven,
     'Mfg_year':Mfg_yr,
     'Fuel_type':Fuel_type,
     'Price(lakh)':Price
    
      }
  #append dictionary into detail list
  detail_list.append(dict)

In [84]:
print(detail_list)

[{'Brand': 'FORD', 'Model': 'ENDEAVOUR', 'km_driven': '47,398', 'Mfg_year': '2018', 'Fuel_type': 'Diesel', 'Price(lakh)': '30,50,000'}, {'Brand': 'DATSUN', 'Model': 'REDI-GO', 'km_driven': '1,413', 'Mfg_year': '2019', 'Fuel_type': 'Petrol', 'Price(lakh)': '2,95,000'}, {'Brand': 'HONDA', 'Model': 'CITY', 'km_driven': '66,687', 'Mfg_year': '2015', 'Fuel_type': 'Petrol', 'Price(lakh)': '7,11,000'}, {'Brand': 'HYUNDAI', 'Model': 'CRETA', 'km_driven': '58,570', 'Mfg_year': '2017', 'Fuel_type': 'Petrol', 'Price(lakh)': '10,45,000'}]

In [85]:
# import pandas library 
import pandas as pd
df=pd.DataFrame(detail_list)# create dataframe from detail list

In [86]:
df

     Brand      Model km_driven Mfg_year Fuel_type Price(lakh)
0     FORD  ENDEAVOUR    47,398     2018    Diesel   30,50,000
1   DATSUN    REDI-GO     1,413     2019    Petrol    2,95,000
2    HONDA       CITY    66,687     2015    Petrol    7,11,000
3  HYUNDAI      CRETA    58,570     2017    Petrol   10,45,000

In [ ]:
'''car_links=[]
for item in page_links:  
    driver.get(item)
    car_link=driver.find_elements(by=By.XPATH,value='//h2/a')
    for item in car_link:
        x=item.get_attribute('href')
        car_links.append(x)
        #print(car_links)
        for item in car_links:
            driver.get(item)
            details=driver.find_element(by=By.XPATH, value='//tr/td')
            #print(details)
            y=[]
            for i in details:
                x=(i.text.split())
                y.append(x)
                print(y)  '''

In [ ]:
#generate page link from main website link
detail_list=[]
page_links=[]
main_link='https://www.cartrade.com/buy-used-cars/mumbai/c/p-'
for i in range(1,2):
  link=main_link+str(i)
  page_links.append(link)
  for item in page_links:
     driver.get(item)
     brands=driver.find_element(by=By.XPATH, value='//h2[@class="h2heading truncate"]').text
     brand=[]
     for i in brands:
        x=i.text.split()[1]
        brand.append(x)
     Mfg_yr=driver.find_elements(by=By.XPATH, value='//h2[@class="h2heading truncate"]')
     mfg_yr=[]
     for i in Mfg_yr:
        x=i.text.split()[0]
        mfg_yr.append(str(x))
     car_model=driver.find_elements(by=By.XPATH, value='//h2[@class="h2heading truncate"]')
     model=[]
     for i in car_model:
        x=i.text.split()[2]
        model.append(str(x))
     Price=driver.find_elements(by=By.XPATH, value='//div[@class="cr_prc"]')
     price=[]
     for i in Price:
        x=i.text.split()[0].strip('₹')
        price.append(str(x))
     km=driver.find_elements(by=By.XPATH, value='//div[@class="info_cr_new"]')
     km_driven=[]
     for i in km:
        x=i.text.split()[0]
        km_driven.append(str(x))
     fuel=driver.find_elements(by=By.XPATH, value='//div[@class="info_cr_new"]')
     fuel_type=[]
     for i in fuel:
        x=i.text.split()[3]
        fuel_type.append(str(x))
     dict={
     'Brand':brands
     'Model':model,
     'km_driven':km_driven,
     'Mfg_year':mfg_yr,
     'Fuel_type':fuel_type,
     'Price(lakh)':price
    
      }
  #append dictionary into detail list
  detail_list.append(dict)